{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{% for block in section.blocks %}
   <div>        
      <h2>{{ block.settings.text }}</h2>
      <h2>{{ block.settings.title }}</h2>
      <div>
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="collection-list__item grid__item{% if show_mobile_slider %} slider__slide{% endif %}{% if block.settings.collection.featured_image == nil %} collection-list__item--no-media{% endif %}" {{ block.shopify_attributes }}>
            {% render 'card-collection', card_collection: block.settings.collection , media_aspect_ratio: section.settings.image_ratio, columns: columns %}
          </li>
      </div> 
   </div>
{% endfor %}

{% schema %}
{
  "name": "Text Area",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Text Area"
    }
  ],
  "blocks": [
     {
       "name": "İmage",
       "type": "image_picker",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "İmage"
         }
       ]
     },
     {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
           "id": "text",
           "label": "Text Giriniz..."
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
   ],
  "presets": [
    {
      "name": "Text Area"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}